In [1]:
2+3

5

5+3

In [2]:
4*5

20

In [3]:
5-1

4

In [4]:
40/2

20.0

In [5]:
2**3

8

In [6]:
"Ola"

'Ola'

In [8]:
"HI there "+ "Ola"

'HI there Ola'

In [9]:
"Ola" *3

'OlaOlaOla'

In [10]:
"Runnin' down the hill"

"Runnin' down the hill"

In [11]:
'Runnin\' down the hill'

"Runnin' down the hill"

In [13]:
"Ola".upper()

'OLA'

In [14]:
len("Ola")

3

In [15]:
len(213414)

TypeError: object of type 'int' has no len()

In [16]:
len(str(125414))

6

In [17]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [18]:
name = "Ola"
name

'Ola'

In [19]:
a =4
b =5
a*b

20

In [21]:
name = 'Maria'
name
print(name)

Maria

In [22]:
name = 'Maria'
name

'Maria'

In [23]:
lottery = [3, 42, 12, 19, 30, 59]

In [24]:
len(lottery)

6

In [25]:
lottery.sort()

In [26]:
print (lottery)

[3, 12, 19, 30, 42, 59]

In [27]:
lottery.reverse()
print(lottery)

[59, 42, 30, 19, 12, 3]

In [28]:
lottery.append(199)

In [29]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [30]:
print(lottery[0])

59

In [31]:
print(lottery[1])

42

In [32]:
lottery.pop(0)

59

In [33]:
print(lottery)

[42, 30, 19, 12, 3, 199]

In [35]:
participant = {'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [36]:
print(participant['name'])

Ola

In [37]:
participant['favorite_language'] = 'Python'

In [38]:
len(participant)

4

In [41]:
participant.pop('favorite_numbers')

[7, 42, 92]

In [42]:
participant

{'name': 'Ola', 'country': 'Poland', 'favorite_language': 'Python'}

In [44]:
participant['country'] = 'Germany'
participant

{'name': 'Ola', 'country': 'Germany', 'favorite_language': 'Python'}

In [45]:
4141>12354

False

In [46]:
if 3 > 2:
    print('It works!')

It works!

In [47]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [48]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

Hi there!
How are you?

In [49]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi You!
Next girl

In [50]:
for i in range(1, 6):
    print(i)

1
2
3
4
5